# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

#eggs
za_bota_test.egg-info/