services:
  db:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    env_file:
      - .env
    restart: always

  bot:
    build: .
    restart: always
    env_file: .env
    depends_on:
      - db
      - migrations
    volumes:
      - ./migrations:/app/migrations

  migrations:
    build: .
    command: [ "alembic", "upgrade", "head" ]
    depends_on:
      - db
    env_file: .env
    volumes:
      - ./migrations:/app/migrations